.Weather {
  border: 1px solid #474866;
  border-radius: 6px;
  background-color: rgba(5, 57, 107, 0.6);

  margin: 100px 0 auto;
  padding: 20px;
}
.Weather .btn {
  background-color: #26d3ca;
}
.Weather h1 {
  color: #26d3ca;
}
.Weather li {
  color: #c9d0db;
  list-style: none;
  font-size: 18px;
}
.Weather ul {
  padding: 0;
}
.Weather .temperature {
  font-size: 60px;
  font-weight: 500;
}
.Weather .unit {
  position: relative;
  top: -28px;
  font-size: 18px;
}
