.Weather {
  border: 1px ;
  border-radius: 6px;
  background-color: rgba(167, 198, 228, 0.737);

  margin: 100px 0 auto;
  padding: 40px;
}
.Weather .btn {
  color: white;
  background-color: #375990;
}
.Weather h1 {
  color: #375990;
}
.Weather li {
  color: #000000;
  list-style: none;
  font-size: 16px;
}
.Weather ul {
  padding: 0;
}
.Weather .temperature {
  color: #375990;
  font-size: 60px;
  font-weight: 500;
}
.Weather .unit {
  color: #375990;
  position: relative;
  top: -28px;
  font-size: 18px;
}
